{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "endOfLine": "auto",
  "tailwindConfig": "./tailwind.config.ts"
}
